# Compiled Source #
###################
*.pyc

# ignore vim swap files
*.*.swp

# ignore experimental Python file
testing.py

# ignore progress files that I make for myself
TODO

# for now, ignore autosaves
saves/autosaves/*.json

# Ignore your VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore Mac files
.DS_Store
